<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles del profesor</title>
  </head>
  <body>
    <h1
      th:text="'Detalles del profesor: ' 
      + ${profesor.nombre} + ' ' 
      + ${profesor.primerApellido} + ' '
      + ${profesor.segundoApellido}"
    ></h1>
    <h2 th:text="'Departamento: ' + ${profesor.facultad.nombre}"></h2>
    <div th:if="${profesor.foto != null}">
      <h2>Foto:</h2>
      <img th:src="@{/imagenes/}+${profesor.foto}" alt="Foto del profesor" />
    </div>
    <div th:unless="${profesor.foto != null}">
      <h2>No existe foto</h2>
    </div>
    <div>
      <p><a th:href="@{/profesores/listar}">Listado de profesores</a></p>
      <p><a th:href="@{/profesores/alta}">Alta de un profesor</a></p>
    </div>
  </body>
</html>
