<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="" />
    <title>Formulario alta/modificación</title>
    <style>
      .text-error {
        color: red;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Formulario alta/modificación</h1>
    <fieldset>
      <legend>Formulario de alta o modificación</legend>
      <form
        th:action="@{/empleados/persistir}"
        method="post"
        th:object="${empleado}"
        enctype="multipart/form-data"
      >
        <input type="hidden" th:field="*{id}" />
        <div>
          <label for="nombre">Nombre:</label>
          <input
            th:field="*{nombre}"
            type="text"
            id="nombre"
            name="nombre"
            value=""
            placeholder="su nombre aquí, por favor"
            required
          />
          <p
            th:if="${#fields.hasErrors('nombre')}"
            th:errors="*{nombre}"
            th:class="text-error"
          ></p>
        </div>
        <div>
          <label for="primerApellido">Primer apellido:</label>
          <input
            th:field="*{primerApellido}"
            type="text"
            id="primerApellido"
            name="primerApellido"
            value=""
            placeholder="su primer apellido aquí, por favor"
            required
          />
          <p
            th:if="${#fields.hasErrors('primerApellido')}"
            th:errors="*{primerApellido}"
            th:class="text-error"
          ></p>
        </div>
        <div>
          <label for="segundoApellido">Segundo apellido:</label>
          <input
            th:field="*{segundoApellido}"
            type="text"
            id="segundoApellido"
            name="segundoApellido"
            value=""
            placeholder="su segundo apellido aquí, por favor"
          />
          <p
            th:if="${#fields.hasErrors('segundoApellido')}"
            th:errors="*{segundoApellido}"
            th:class="text-error"
          ></p>
        </div>
        <div>
          <label for="fechaAlta">Fecha de alta:</label>
          <input
            th:field="*{fechaAlta}"
            type="date"
            id="fechaAlta"
            name="fechaAlta"
            value=""
            placeholder="su fecha de alta aquí, por favor"
            required
          />
          <p
            th:if="${#fields.hasErrors('fechaAlta')}"
            th:errors="*{fechaAlta}"
            th:class="text-error"
          ></p>
        </div>
        <div>
          <fieldset>
            <legend>Género</legend>
            <label for="hombre">Hombre:</label>
            <input
              th:field="*{genero}"
              type="radio"
              name="genero"
              id="hombre"
              value="HOMBRE"
              required
            /><br />
            <label for="mujer">Mujer:</label>
            <input
              th:field="*{genero}"
              type="radio"
              name="genero"
              id="mujer"
              value="MUJER"
              required
            /><br />
            <label for="otro">Otro:</label>
            <input
              th:field="*{genero}"
              type="radio"
              name="genero"
              id="otro"
              value="OTRO"
              required
            /><br />
          </fieldset>
        </div>
        <div>
          <label for="salario">Salario:</label>
          <input
            th:field="*{salario}"
            type="text"
            id="salario"
            name="salario"
            value=""
            placeholder="su salario aquí, por favor"
            required
          />
        </div>
        <div>
          <label for="departamento">Departamento:</label>
          <select id="departamento" th:field="*{departamento}" required>
            <option value=""></option>
            <option
              th:each="departamento:${departamentos}"
              th:value="${departamento.id}"
              th:text="${departamento.nombre}"
            ></option>
          </select>
        </div>
        <div>
          <p>
            <label for="correosFormulario">Correos:</label><br />
            <textarea
              th:text="${empleado.correosSeparador}"
              th:value="${empleado.correosSeparador}"
              rows="5"
              cols="40"
              id="correosFormulario"
              name="correosFormulario"
              placeholder="uno o varios separados por punto y coma, por favor"
            ></textarea>
          </p>
          <p>
            <label for="telefonosFormulario">Teléfonos:</label><br />
            <textarea
              th:text="${empleado.telefonosSeparador}"
              rows="5"
              cols="40"
              id="telefonosFormulario"
              name="telefonosFormulario"
              placeholder="uno o varios separados por punto y coma, por favor"
            ></textarea>
          </p>
        </div>
        <div>
          <label for="file">Foto del empleado</label>
          <input
            type="file"
            id="file"
            name="file"
            title="Selección de la imagen del empleado"
          />
          <div th:if="${id != 0 and empleado.foto != null}">
            <h4>Foto actual del empleado:</h4>
            <img
              th:src="@{/imagenes/}+${empleado.foto}"
              alt="Foto del Empleado"
            />
          </div>
        </div>
        <input type="submit" value="Enviar" />
      </form>
    </fieldset>
    <div>
      <p><a th:href="@{/empleados/listar}">Listado de empleado</a></p>
    </div>
  </body>
</html>
